# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

cmd/dumpfmt/dumpfmt
cmd/httpdir/httpdir
cmd/oapidef/oapidef
cmd/miniredis/miniredis
cmd/impldef/impldef
cmd/idlc/idlc

# Misc
cmd/*/*.yaml
cmd/*/*.yml
cmd/*/*.json

cmd/miniredis/*.txt

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editors
.vscode
